<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <!--引入自己写的CSS样式-->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <!--引入侧边导航烂js-->
    <script src="js/mainpage.js" ></script>

    <style>
        body{
            margin-top: 50px;
        }
    </style>
    <title>欢迎来到秋名山驾考网</title>
</head>
<body>
<!--<h1>thymeleaf 语法 </h1>-->
<!--&lt;!&ndash;th:text 将div里面的文本内容设置为&ndash;&gt;-->
<!--<div th:text="${hello}">  如果不穿hello，直接显示此段话</div>-->
<!--<div th:text="${message}"></div>-->
    <div id="nav"></div>

    <!--侧边导航烂-->
    <div class="side-nav" role="navigation">
        <ul class="nav-side-nav" id="sidenav">
            <!--单独设置第一个导航为已选中状态按钮-->
            <li><a href="#one" class="tooltip-side-nav" style="background: #ff3669"></a></li>
            <li><a href="#two" class="tooltip-side-nav"></a></li>
            <li><a href="#three" class="tooltip-side-nav"></a></li>
            <li><a href="#four" class="tooltip-side-nav"></a></li>
        </ul>
    </div>

    <!--第一页屏-->
    <div class="onepage" id="one">
        <div class="onepage-bg" id="onepagebg" ></div>
            <div class="container">
                <div class="row">
                    <div class="title-text">
                        <div class="col-md-12 headfontsize">
                            <h1 style="font-size: 70px" class="headh1content">
                                欢迎来到秋名山驾考网
                                <br>
                            </h1>
                            <p style="margin-top: 30px">在这里您可以学习到最新最全的驾考知识，提升您的驾考技能，帮助您顺利通过驾照考试！</p>
                            <p style="float: left;margin-right:2em; margin-top: 2em"><a class="btn btn-primary btn-lg" href="#two" role="button">如何开始？</a></p>
                            <p style="float:left;   margin-right:2em;margin-top: 2em "><a class="btn btn-success btn-lg" href="#" role="button">我是学员</a> </p>
                            <p style="float:left;   margin-right:2em;margin-top: 2em "><a class="btn btn-info btn-lg" href="#two" role="button">learn more</a> </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!--第二页屏-->
    <div class="twopage" id="two">
        <div class="twopage-bg" id="twopagebg">
            <div class="twoppage-text">
                <h1 class="twopage-text-h1">
                    简单的几步，帮助您更快通过驾照考试
                </h1>
            </div>

            <div class="row">
                <div class="twopage-courses col-md-4">
                    <a href="">
                        <img src="css/start.png">
                        <div class="classicon">
                            <h1><strong>注册</strong></h1>
                            <h3>我们将定制您的学习方案</h3>
                        </div>
                    </a>
                </div>

                <div class="twopage-courses col-md-4">
                    <a href="">
                        <img src="css/teaching.png">
                        <div class="classicon">
                            <h1><strong>开始学习</strong></h1>
                            <h3>学习最全的驾驶技能</h3>
                        </div>
                    </a>
                </div>

                <div class="twopage-courses col-md-4">
                    <a href="">
                        <img src="css/getLicense.png">
                        <div class="classicon">
                            <h1><strong>取得驾照</strong></h1>
                            <h3>开上您的爱车去您想去的地方</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--第三页屏-->
    <div class="threepage" id="three">
        <div class="threepage-bg" id="threepagebg">
            <div class="threepagecontent">
                <div class="threepagetext">
                    <h1 class="text-info">当今驾考环境，我们也在思考以下问题...</h1>
                </div>
            </div>

            <div class="container" >
                <div class="container threepagecontent2">
                    <div class="col-md-4 threepageimages"  >
                        <img class="col-md-12 " src="css/statics3.png" width="300" height="322" >
                        <h2 class="threepagesubtitle" >因为缺少实战经验<br>
                            不能一次通过驾照考试
                        </h2>
                    </div>
                    <div class="col-md-4 threepageimages">
                        <img class="col-md-12" src="css/statics1.png" width="300" height="322">
                        <h2 class="threepagesubtitle" >因为高额推广费用<br>
                            不能得到充分宣传
                        </h2>
                    </div>
                    <div class="col-md-4 threepageimages">
                        <img class="col-md-12" src="css/statics2.png" width="300" height="322">
                        <h2 class="threepagesubtitle" >不熟悉真实道路情况<br>
                            在上路第一年违章、刮蹭
                        </h2>
                    </div>
                </div>
            </div>

            <div class="container threepagebtn">
                <button class="btn btn-success btn-lg">加入我们，立即开启学车新篇章</button>
            </div>
        </div>
    </div>

    <!--第四页屏-->
    <div class="fourpagebg" id="four" >

        <div class="fourpagediv" >
            <div class="col-md-offset-1 col-md-5 container"   >
                <div class="fourpageoverview">
                    <h1>我们的价值追求</h1>
                    <hr class="simple" color="#6f5499" />
                </div>
                <div class="overview">
                    <ul id="overviewTabs" class="nav nav-pills nav-justified">
                        <li class="active"><a href="#home" data-toggle="tab" ><strong>关于考生</strong></a></li>
                        <li><a href="#profile" data-toggle="tab"><strong>关于驾校</strong></a></li>
                    </ul>

                    <div id="overviewTabsContent" class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <div class="container" style="margin-top: 1em">
                                <ul class="fourpageContentUl">
                                    <li class="fourpageContentLi"><strong><p class="fourpageContent "><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;及时让考生了解最新、最全的驾考资讯</p></strong></li>
                                    <li class="fourpageContentLi"><strong><p class="fourpageContent "><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;通过模拟测试、帮助各个年龄段的学车人高效通过驾照考试</p></strong></li>
                                    <li class="fourpageContentLi"><strong><p class="fourpageContent "><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;在通过驾照考试的同时，提高他们的实战经验</p></strong></li>
                                    <li class="fourpageContentLi"><strong><p class="fourpageContent "><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;让每个从我们网站学习的未来驾驶员能够自信上路、平安出行！</p></strong></li>
                                </ul>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="profile">
                            <div class="container" style="margin-top: 1em">
                                <ul class="fourpageContentUl">
                                    <li class="fourpageContentLi"><strong><p class="fourpageContent"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;优质驾校将得到更好的宣传</p></strong></li>
                                    <li class="fourpageContentLi"><strong><p class="fourpageContent"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;完善的驾校评分系统，更好服务考生</p></strong></li>
                                    <li class="fourpageContentLi"><strong><p class="fourpageContent"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;健康的驾校社区，让考生教练沟通零距离</p></strong></li>
                                    <li class="fourpageContentLi"><strong><p class="fourpageContent"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;由学员推选每季度星级驾校，建立驾校口碑</p></strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 container ">
                <!--问题、回答主标题-->
                <div class="fourpageoverview">
                    <h1>问题 & 回答</h1>
                    <hr class="simple" color="#6f5499" />
                </div>
                <div class="panel-group" id="accordion" role="tablist">
                    <!--第一个heading和内容区-->
                    <div class="panel panel-primary">
                        <!--第一个heading和内容区-->
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title panel-info">
                                <a data-toggle="collapse" style="text-decoration: none" data-parent="#accordion" href="#collapseOne"><strong>Q：注册本网站学员用户收费吗？</strong></a>
                            </h4>
                        </div>
                        <!--in表示默认展开-->
                        <div class="panel-collapse collapse in" id="collapseOne" role="tabpanel">
                            <div class="panel-body fourpagePanelBodyFontColor" >
                                <strong>本网站的学员用户注册都是免费的，我们会为大家提供最新的驾考周边信息。</strong>
                            </div>
                        </div>
                    </div>
                    <!--第二个heading和内容区-->
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" style="text-decoration: none" data-parent="#accordion" href="#collapseTwo"><strong>Q：发布在本网站的驾校靠谱吗？</strong></a>
                            </h4>
                        </div>
                        <!--in表示默认展开-->
                        <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
                            <div class="panel-body fourpagePanelBodyFontColor">
                                <strong>
                                    <ol>
                                        <li>在本网站发布的驾校信息我们都将经过严格的审核</li>
                                        <li>驾校注册需要提交完备的驾校相关资质证书</li>
                                        <li>我们也将严格审核驾校相关资质，杜绝三无驾校</li>
                                    </ol>
                                </strong>
                            </div>
                        </div>
                    </div>
                    <!--第二个heading和内容区-->
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" style="text-decoration: none" data-parent="#accordion" href="#collapseThree"><strong>Q：如何注册成为本网站的签约驾校？</strong></a>
                            </h4>
                        </div>
                        <!--in表示默认展开-->
                        <div class="panel-collapse collapse" id="collapseThree" role="tabpanel">
                            <div class="panel-body fourpagePanelBodyFontColor" >
                                <strong>
                                    <ol>
                                        <li>请在注册页面点击“驾校用户”进行注册</li>
                                        <li>完善相关信息，我们会根据您填写的驾校信息进行初步审核</li>
                                        <li>三个工作日之后，会有我们网站的工作人员与您联系</li>
                                        <li>工作人员将要进行实地考察，确保驾校安全、有效运营</li>
                                        <li>审核通过之后，我们将会站内通知您</li>
                                    </ol>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer foot-wrap fourpagefooter col-md-12" >
        <!--采用container，使得页尾内容居中 -->
        <div class="container">
            <div class="row">
                <div class="row-content col-lg-2 col-sm-4 col-xs-6" >
                    <h3 class="footerTitle text-center"><strong>网站首页</strong></h3>
                    <ul class="footerUl">
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">RSS feed</a></li>
                    </ul>
                </div>
                <div class="row-content col-lg-2 col-sm-4 col-xs-6">
                    <h3 class="footerTitle text-center"><strong>学员社区</strong></h3>
                    <ul class="footerUl">
                        <li><a href="#">科目一论坛</a></li>
                        <li><a href="#">科目二论坛</a></li>
                        <li><a href="#">科目三论坛</a></li>
                        <li><a href="#">科目四论坛</a></li>
                    </ul>
                </div>
                <div class="row-content col-lg-2 col-sm-4 col-xs-6">
                    <h3 class="footerTitle text-center"><strong>新闻资讯</strong></h3>
                    <ul class="footerUl">
                        <li><a href="#">交通新规</a></li>
                        <li><a href="#">驾考新规</a></li>
                        <li><a href="#">开车技巧</a></li>
                    </ul>
                </div>

                <div class="row-content col-lg-2 col-sm-4 col-xs-6">
                    <h3 class="footerTitle text-center"><strong>合作伙伴</strong></h3>
                    <ul class="footerUl">
                        <li><a href="#">明星驾校</a></li>
                        <li><a href="#">明星教练</a></li>
                    </ul>
                </div>
                <div class="row-content col-lg-2 col-sm-4 col-xs-6">
                    <h3 class="footerTitle text-center"><strong>关于我们</strong></h3>
                    <ul class="footerUl">
                        <li><a href="#">公司介绍</a></li>
                        <li><a href="#">设计团队</a></li>
                        <li><a href="#">联系方式</a></li>
                    </ul>
                </div>
                <div class="row-content col-lg-2 col-sm-4 col-xs-6">
                    <h3 class="footerTitle text-center"><strong>友情链接</strong></h3>
                    <ul class="footerUl">
                        <li><a href="#">元贝驾考网</a></li>
                    </ul>
                </div>

            </div><!--/.row -->
        </div><!--/.container-->

        <p align="center" style="margin-top: 20px;color:#878B91;">
            Copyright &copy;2019 Haurnasan Company
        </p>
    </footer>

    <script>
        $("#nav").load("nav.html"); //导入导航页面
    </script>
</body>
</html>